<h1>Editing purchase</h1>

<% form_for(@purchase) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :total_price %><br />
    <%= f.text_field :total_price %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @purchase %> |
<%= link_to 'Back', purchases_path %>
